.blocks_services {
    width: 100%;
    max-width: var(--max-width);
    margin-top: 120px;
    display: flex;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 0 20px !important;
    box-sizing: border-box;
    margin: 100px auto 0 auto;
    border: 1px solid red;
}


.blocks_service {
    height: 200px;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.blocks_services h3:first-child {
    position: absolute;
    top: -50px;
    left: 20px;
    margin: 0;
    color: white;
    font-size: 2em;
}

.blocks_services>div div:first-child {
    height: 80%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.blocks_services>div h3 {
    color: white;
}

@media (max-width: 1180px) {
    .blocks_services {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        width: 100%;

    }
}