section {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    max-height: 1500px !important;
    position: relative;
    padding-top: 100px;

}

.main_block {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: start;
}

.block_wrapper_1 {
    width: 40%;
    display: flex;
    align-items: center;
}

.block_wrapper_1>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block_wrapper_1 h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 30px;
}

.block_wrapper_1 p {
    color: white;
    font-size: 1.1em;
}

.adress {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    position: relative;
}

.adress::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background: white;
}

.adress a {
    margin-top: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.adress a:hover {
    color: #7b7777;
}

.block_wrapper_2 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_gray {
    background: #7b7777;
    width: 60vw;
    height: 60vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.circle_white {
    background: white;
    width: 90%;
    height: 90%;

    border-radius: 50%;
}

.circle_white img {
    width: 100%;
    height: 110%;
}


.description_block_3 {
    height: 18rem;
    width: calc(100% - 40px);
    max-width: 76em;
    background-color: #555;
    bottom: -35%;
    border-radius: 25px;
    flex-shrink: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0 20px;
    z-index: 500;


}

.description_block_3 p {
    padding: 25px;
    font-size: 1.6em;
    color: white;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1200px) {
    .description_block_3 {
        max-width: 70em;
    }


    .block_wrapper_1 {
        margin-bottom: 120px;
    }

    .circle_gray {
        width: 45vw;
        height: 45vw;
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 1150px) {
    .main_block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding-top: 40px;
    }

    .block_wrapper_1 {
        width: 100%;
        justify-content: center;
        margin-bottom: auto;

    }

    .block_wrapper_1>div:first-child {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .text {
        width: 100%;
        max-width: 500px;
        align-items: center;
    }

    .adress {
        padding-left: 0;
        align-items: center;
        margin-top: 1.5em;
    }

    .adress::before {
        display: none;
    }

    .block_wrapper_2 {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .circle_gray {
        width: 30rem;
        height: 30rem;
        max-width: 350px;
        max-height: 350px;
    }

    .description_block_3 {
        position: relative;
        bottom: 100px !important;
        margin: 40px auto 20px;

        width: calc(100% - 80px);
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .block_wrapper_1 h1 {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .block_wrapper_1 p {
        font-size: 1rem;
    }

    .circle_gray {
        width: 20rem;
        height: 20rem;
        max-width: 280px;
        max-height: 280px;
    }

    .description_block_3 {
        height: 16rem;
        margin: 30px auto 20px;
        width: calc(100% - 60px);
    }



    .description_block_3 p {
        font-size: 1.2em;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .block_wrapper_1 h1 {
        font-size: 1.6rem;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .block_wrapper_1 p {
        font-size: 0.9rem;
    }

    .block_wrapper_2 {
        height: auto;
        margin-top: 10px;
    }

    .circle_gray {
        width: 20rem;
        height: 20rem;
        max-width: 270px;
        max-height: 270px;
    }

    .description_block_3 {
        height: 14rem;
        margin: 20px auto 10px;
        width: calc(100% - 40px);
    }

    .description_block_3 p {
        font-size: 1em;
        padding: 15px;
    }

    .adress {
        margin-top: 1em;
    }

    .adress p,
    .adress a {
        font-size: 0.9em;
    }
}


@media (max-width: 360px) {
    .circle_gray {
        width: 18rem;
        height: 18rem;
        max-width: 250px;
        max-height: 250px;
    }

    .description_block_3 {
        height: 12rem;
    }

    .description_block_3 p {
        font-size: 0.9em;
        padding: 10px;
    }
}