.showTransition {
    width: 100%;
    height: 5px !important;
    margin: 10px auto 0 auto;
    margin-top: 100px;

    border-radius: 25px;

    display: flex;
    text-align: center;
    align-items: center;
}

.path_page {
    max-width: 200px;
    width: 100%;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;


    margin-left: 10px;



}