.showTransition {
    width: 100%;
    height: 5px !important;
    margin: 10px auto 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    display: flex;
    text-align: center;
}


.path_page {
    max-width: 500px;
    height: 50px;
    border-radius: 25px;
    margin-left: 15px;
    display: flex;
    color: white;
    gap: 10px;
}

.path_page a.active {
    color: #606060;


}

.path_page a {
    color: #555;


}

.path_page a {
    color: white;
}


@media (max-width: 450px) {
    .showTransition {
        font-size: 0.9em;
    }
}