.consultation_block {
    max-width: var(--max-width);
    display: flex;
    padding: 0 10px;
    margin: 50px auto 0 auto;



}


.consultation {
    height: 300px;
    width: 100%;



    align-items: center;
    position: relative;
    display: flex;
    border-radius: 25px;
    background-color: #555;
}


.photo_mennager {
    min-width: 200px;
    height: 90%;
    background-color: #333;
    left: 20px;
    position: absolute;
    border-radius: 25px;

}

.zapys_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;


}

.zapys_block .calling_block {
    margin: 0;
    height: 60px;
    width: 200px;

    border: 1px solid white;



}

.zapys_block .calling_block::before {
    background-color: #333;
}


.zapys_block #first input {
    width: 300px;

    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;





}

@media (max-width:1200px) {
    .photo_mennager {
        display: none;
    }


    .zapys_block .calling_block {
        display: block !important;
    }

}