.show_prices {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px auto 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;

}

.active_block {
    background-color: #252629 !important;
}

.grid_price {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.block {


    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


.show_info .grid_price {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.show_info .show_prices {
    margin: 0 !important;
}


.accordeon .grid_price {
    gap: 50px;
}

.accordeon .showname {
    height: 90px !important;

    padding: 10px !important;

}

.accordeon .showprice {
    height: 90px;
}



.accordeon.show .show_info {
    max-height: 1800px;

}

.accordeon {
    background-color: #555;
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: start;
    padding: 20px 10px;
    align-items: start;
    flex-direction: column;



}

.accordeon .show_info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    text-align: center;
    align-items: center;
    width: 100%;


}

.container_for_accordeon {
    margin: 100px auto 0 auto;
    width: var(--max-width);


}

.showname {
    width: 78%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.showprice {
    display: flex;
    align-items: center;
    width: 20%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    justify-content: center;
}