.show_prices {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px auto 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;

}

.active_block {
    background-color: #252629 !important;
}

.grid_price {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.block {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;

}


.show_info .grid_price {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100% + 200px);
}

.show_info .show_prices {
    margin: 0 !important;
}


.accordeon .showname {
    height: 60px !important;

    padding: 10px !important;


}

.accordeon .showprice {
    height: 60px;
}



.accordeon.show .show_info {
    max-height: 2500px !important;
}

.accordeon.show h3 {
    margin-bottom: 10px !important;


}

.accordeon {
    background-color: #555;
    width: 70%;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: start;
    padding: 20px 10px;
    align-items: start;
    flex-direction: column;
    transition: 0.5s;


}

.accordeon:hover {
    transition: 0.5s;
    background-color: rgb(56, 56, 56);
}

.showname,
.showprice {
    box-sizing: border-box;
}

.accordeon h3 {
    transition: 0.5s;
    margin-left: 10px;
}


.accordeon .show_info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    text-align: center;
    align-items: center;
    width: 100%;
}

.container_for_accordeon {
    margin: 100px auto 0 auto;
    width: var(--max-width);



}

.showname {
    width: 78%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;


}

.showprice {
    display: flex;
    align-items: center;
    width: 20%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    justify-content: center;
}