.show_prices {
    width: 200px;
    height: auto;
    border: 1px solid white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px auto 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;

}


.grid_price {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 800px;
    border: 1px solid white;
}

.block {
    width: 100%;
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.showname {
    width: 78%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.showprice {
    display: flex;
    align-items: center;
    width: 20%;
    background-color: rgb(23, 23, 23);
    height: 100%;
    border-radius: 15px;
    justify-content: center;
}