.container_for_accordeon {
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: var(--max-width);
    padding: 0 20px;
    box-sizing: border-box;

}

.accordeon {
    background-color: #555;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
}


.accordeon:hover {
    background-color: rgb(56, 56, 56);
}

.accordeon h3 {
    margin: 0 40px 0 0;
    transition: 0.3s ease;
}

.accordeon span {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 20px;
    height: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform: rotate(-90deg);

}

.accordeon.show span {
    transform: rotate(90deg);
}

.accordeon .show_info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.45s ease;
}

.accordeon.show .show_info {
    max-height: 10000px;
}

.show_prices {
    width: 100%;
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: center;
    margin: 100px auto 0 auto;


}

.grid_price {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 60px;
    height: auto;
    border-radius: 12px;

    gap: 10px;

    flex-wrap: nowrap;
}


.showname {
    border-radius: 12px;
    padding: 0 12px;
    height: 100%;
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    align-items: center;
    background-color: #4f4e4e;
}

.showprice {
    flex: 0 0 auto;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    border-radius: 12px;
    background-color: #4f4e4e;

}


.accordeon .show_prices {
    margin: 0;
}


.active_block {
    background-color: #252629 !important;
}

@media (max-width: 800px) {
    .block {
        align-items: flex-start;
    }

    .showprice {
        justify-content: center;
        font-weight: bold;
    }
}