.desc_service {
    max-width: var(--max-width);
    margin: 30px auto 0 auto;
    color: white;
    padding: 10px;
}

.desc_service h3,
.desc_service h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.desc_service img {
    width: 100%;
    height: 300px;
    border: 1px solid white;
    border-radius: 25px;

}