.services_menu {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
    align-items: stretch;
    opacity: 0;
    min-width: max-content;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    display: flex;
    top: calc(100% + 1px);
    height: auto;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




.white_circle_menu {
    position: absolute;
    background-color: white;
    height: 25px;
    width: 25px;
    top: -6px;
    left: 10px;
    border-radius: 50%;
}


.menu_item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

}

.services_menu>a {
    width: 100% !important;
    color: black !important;
    font-size: 1em;
    white-space: nowrap;

}


.services_menu.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.menu_buttons {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 40px;
    position: relative;
}


.menu_buttons a {
    position: relative;
    height: 100%;
    align-content: center;

}


.menu_buttons a::before {
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    background-color: #555;
    top: 85%;
    transition: 0.5s;


}

.menu_buttons a:hover::before {
    width: 100%;
}


.menu_buttons a {
    color: white;
    gap: 20px;
}