.specialists {
    max-width: var(--max-width);
    margin: 50px auto 0 auto;
    height: 500px;
    display: flex;
    padding: 0 10px;
}

.block_specialists_wrapper {
    width: 100%;
    max-width: 76em;
    display: flex;
    height: auto;


    align-items: center;
}

.block_specialists {
    width: 40%;
    height: 100%;
}

.swiper {
    width: 50%;
    height: 90%;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #333;
    border-radius: 25px;
}

.swiper button {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 50%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;

}

.swiper .next {
    left: 12px;

}

.swiper .prev {
    right: 12px;
}

.block_specialists {
    display: flex;
    align-items: start;
    gap: 30px;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.block_specialists p {
    text-align: start;
    color: white;
    font-size: 1.1em;
}

.block_specialists a {
    color: #7b7777;
    transition: color 0.5s;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

.block_specialists a span {
    display: inline-block;

    transition: transform 0.3s ease;
}

.block_specialists a:hover {
    color: white;
}

.block_specialists a:hover span {
    transform: translateX(5px);


}

.block_specialists a:hover span {
    transform: translateX(8px);
}

.block_specialists a span {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:768px) {
    .block_specialists_wrapper {
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .specialists {
        height: 600px;
    }

    .block_specialists {
        display: flex;
        width: 90%;
        align-items: center;

    }

    .block_specialists p {
        text-align: center;
    }

    .swiper {
        width: 90% !important;

    }
}