.footer {
    width: 100%;
    height: 400px;
    background-color: #555;
    padding: 0;

    position: absolute;

    background-image: url('C:\Users\Sviat\Downloads\photo_2025-11-09_20-06-37.jpg');
}