.footer {
    width: 100%;


    height: 200px;
    background-color: #555;
    padding: 0;
    margin: 50px auto 0 auto;



    border-radius: 25px;
}

.footer footer {
    width: 100%;
    height: 100%;
}