.section_rec {
    max-width: var(--max-width);
    margin: 300px auto 0 auto;
    height: 500px;
    display: flex;
    padding: 0 10px;


}

.blocks_recomendation {
    width: 100%;
    max-width: 76em;
    display: flex;
    height: auto;


}

.block_1 p {
    color: white;
    line-height: 1.7em;
    font-size: 18px;


}

.block_1 {
    height: 100%;
    width: 40%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: white;
}

.block_2 {
    height: 100%;
    width: 60%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
    justify-items: center;
    align-items: start;
}

.block_1 a {
    color: #7b7777;
    transition: color 0.5s;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

.block_1 a span {
    display: inline-block;

    transition: transform 0.3s ease;
}

.block_1 a:hover {
    color: white;
}

.block_1 a:hover span {
    transform: translateX(5px);

}

.block_1 a:hover span {
    transform: translateX(8px);
}

.block_1 a span {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.block_rec {
    background-color: transparent;
    text-align: start;
    max-width: 450px;
    width: 100%;
    max-height: 350px;
    height: 100%;
}

.block_rec img {
    width: 70px;
    height: 70px;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 15px;
}

.block_rec h3 {
    font-weight: bold;
    margin-bottom: 10px;
}


.block_rec p {
    color: #7b7777;
    font-size: 15px;
    line-height: 1.5;
}

@media (max-width: 1150px) {
    .section_rec {
        margin: 60px auto 0 auto;
        height: auto;
    }



}


@media (max-width: 768px) {
    .section_rec {
        margin: 60px auto 0 auto;
        height: auto;
    }

    .blocks_recomendation {
        flex-direction: column;
        height: auto;
    }

    .block_1 {
        width: 100%;
        margin: 0 0 30px 0;
        align-items: center;
        text-align: center;
    }



    .block_2 {
        width: 100%;
        margin-top: 20px;

    }

    .block_rec {
        text-align: center;


    }
}