.App {
  width: 100%;
  text-align: center;


}

body {
  height: auto;
  background-color: #333;
  height: 200vh;
  width: 100% !important;

}

* {
  --swiper-theme-color: black;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --max-width: 78em;
  text-decoration: none;
  --max-height-of-nav: 100px:
}


main {
  background-color: #333;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;

  background-image: url('./images/photo_2025-11-09_20-06-37.jpg');





}

@media (max-width:1200px) {

  main {
    background-position: center;
    border-radius: 25px;

  }
}