.App {
  width: 100%;
}

body {
  height: auto;
  background-color: #333;
  height: 200vh;
  width: 100% !important;



}

* {
  --swiper-theme-color: black;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --max-width: 78em;
  text-decoration: none;
  --max-height-of-nav: 100px:
}


main {
  background-color: #333;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  background-image: url('C:\Users\Sviat\Downloads\qwwgpl30cyde6v8837kpobbvhmx4pj9x.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}

@media (max-width:1200px) {

  main {
    background-position: center;
    border-radius: 25px;

  }
}